/* Some Settings */

* {
    font-family: 'Poppins', sans-serif;
    transition: ease-out 0.3s;
}

body {
    min-height: 100vh;
    background: #F8FAFC;
}

label, input, select, option {
    cursor: pointer;
    outline: none;
}

.input-container-effect::after {
    content: '';
    position: absolute;
    height: 2px;
    background: #6EE7B7;
    bottom: -2px;
    left: 10px;
    width: 0;
    transition: ease-out 0.3s;
}

.input-container-effect.active::after {
    content: '';
    position: absolute;
    height: 2px;
    background: #6EE7B7;
    bottom: -2px;
    left: 10px;
    width: calc(100% - 20px);
}