/* Some Settings */

* {
    font-family: 'Poppins', sans-serif;
    transition: ease-out 0.3s;
    scroll-behavior: smooth;
}

:root {
    --swiper-theme-color: #059669 !important;
}

body,
body>div {
    min-height: 100vh;
    background: #F8FAFC;
}

label,
input,
select,
option {
    cursor: pointer;
    outline: none;
}

.input-container-effect::after {
    content: '';
    position: absolute;
    height: 2px;
    background: #6EE7B7;
    bottom: -2px;
    left: 10px;
    width: 0;
    transition: ease-out 0.15s;
}

.input-container-effect.active::after {
    content: '';
    position: absolute;
    height: 2px;
    background: #6EE7B7;
    bottom: -2px;
    left: 10px;
    width: calc(100% - 20px);
}

.control-panel>*:hover>header span {
    opacity: 1;
    transition: .1s ease-out;
}

.negative-margin {
    margin-top: -3rem;
}

input[disabled] {
    opacity: 0.5;
}

.profile {
    cursor: pointer;
}

.profile ul {
    display: none;
    width: max-content;
}

.profile:hover ul {
    display: flex;
    flex-direction: column;
}

.profile ul li {
    padding: 0 .5rem;
    margin: 4px 0;
}

.profile ul li + li{
    border-top: 1px solid #e2e8f0;
}